---
layout: default
title : Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
    %}
{% endif %}

<div class="my-4 p-3 p-md-4 bg-white shadow-sm rounded-xl">
    <h4 class="mt-0 mb-3"><i class="fas fa-images"></i> Self-Introduction Highlights</h4>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <img class="img-fluid rounded-sm shadow-sm" src="{{ '/assets/images/self_intro/image1.png' | relative_url }}" alt="Self introduction slide media 1">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <img class="img-fluid rounded-sm shadow-sm" src="{{ '/assets/images/self_intro/image10.png' | relative_url }}" alt="Self introduction slide media 10">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <img class="img-fluid rounded-sm shadow-sm" src="{{ '/assets/images/self_intro/image12.png' | relative_url }}" alt="Self introduction slide media 12">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <img class="img-fluid rounded-sm shadow-sm" src="{{ '/assets/images/self_intro/image19.png' | relative_url }}" alt="Self introduction slide media 19">
        </div>
    </div>
</div>

<div class="my-4 p-3 p-md-4 bg-white shadow-sm rounded-xl">
    <h4 class="mt-0 mb-2"><i class="fas fa-award"></i> Competition Certificates</h4>
    <p class="text-muted">Scan the QR code to open the certificates page on your phone.</p>
    <div class="row align-items-center">
        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <img class="img-fluid rounded-sm border" src="{{ '/assets/images/etc/certificates_qr.png' | relative_url }}" alt="QR code for certificates page">
        </div>
        <div class="col-12 col-md-8">
            <a class="btn btn-primary" href="{{ '/certificates' | relative_url }}">Open Certificates Page</a>
        </div>
    </div>
</div>
